<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-watch bg-c-blue"></i>
                <div class="d-inline">
                    <h5>{{ titulo }}</h5>
                    <span>{{ descripcion }}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a routerLink="/dashboard" class="pointer"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>{{ titulo }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>